.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #87ceeb;
  justify-content: space-between;
  color: white;
}
.header .header-title {
  display: flex;
}

.footer {
  background-color: #87ceeb;
  padding: 0.2rem;
  text-align: center;
  color: white;
}
